$primary-color:#000000;
$primary-outline-color:#606867;
$primary-words-color:#bbbbbb;
$secondary-color:#1499ff;
$background-color:#06054d;
$border-color:#0d0b6a;
$gutter-color:#030245;
$faded-text-color:#dfce97;
$log-icon-color:#000000;
$log-icon-text-color:#ffffff;
$text-color:#0681e0;
