$primary-color:#000000;
$primary-outline-color:#606867;
$primary-words-color:#bbbbbb;
$secondary-color:#9b6333;
$background-color:#282424;
$border-color:#33302e;
$gutter-color:#292424;
$faded-text-color:#dfce97;
$log-icon-color:#000000;
$log-icon-text-color:#ffffff;
$text-color:#dfa706;
