$primary-color:#35453a;
$primary-outline-color:#5a715b;
$primary-words-color:#ffffff;
$secondary-color:#c39645;
$background-color:#ffffff;
$border-color:#dddddd;
$gutter-color:#cccccc;
$faded-text-color:#999999;
$log-icon-color:#000000;
$log-icon-text-color:#ffffff;
$text-color:#333333;
