/* Import all fonts to be used by any custom class. */

@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Bilbo');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

/* Default font */ 

body {    
  font-family: 'Philosopher', sans-serif;
  font-size: 125%;
} 

/* Quotes and IC exposition should have its own font and classes. */

.icquote {
   font-family: 'Calligraffitti', handwriting;
}

div.icquote {
   font-family: 'Calligraffitti', sans-serif;
   width: 80%;
   border-style: none none none none;
   margin: auto; 
   text-align: left;
   font-size: 125%;
}

/* Job category colors */

.job-category-CRAFT {
   background-color: DarkSeaGreen;
   color: black;
}

.job-category-APP {
   background-color: Turquoise;
}

/* Wiki custom classes */

div.wiki-callout {
   margin: auto;
   text-align: center;
   font-style: italic;
   vertical-align: middle;
   color: $faded-text-color;
   width: 80%;
   font-size: 150%;
   border: 3px solid $secondary-color;
   border-radius: 10px;
   padding: 5px;
}